doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./main.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
        title Amazon.com.mx
    body 
        .background-menu.inactive
        header 
            .navbar
                .navbar_principal
                    .navbar_principal_group1
                        .navbar_principal_group1-menuIcon--Active-Close
                                img.navbar_principal_group1-menuIcon--Active-Close-img.inactive(src="./img/icons/closeWhite.png", alt="")
                        .navbar_principal_group1-menuIcon
                            img(src="./img/icons/menuHamWhite.png", alt="")
                        .navbar_principal_group1-menuIcon--Active.inactive
                            .navbar_principal_group1-menuIcon--Active_header 
                                .navbar_principal_group1-menuIcon--Active_header-account 
                                    p Mi Cuenta 
                                    img(src="./img/icons/menuUsrWhite.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_header-explore 
                                    div Explorar 
                                    p Amazon
                            .navbar_principal_group1-menuIcon--Active_home 
                                h2 Amazon Home
                                img(src="./img/icons/home.png", alt="")
                            .navbar_principal_group1-menuIcon--Active_trends 
                                h2 Tendencias 
                                p Los más vendidos 
                                p lo nuevo 
                                p Productos del momento 
                            .navbar_principal_group1-menuIcon--Active_principals 
                                .title 
                                    p Categorías Principales 
                                    p Para Ti 
                                p Electronicos 
                                p Libros 
                                p Oficina y Papelería
                                .navbar_principal_group1-menuIcon--Active_principals-more
                                    p.navbar_principal_group1-menuIcon--Active_principals-more_p Ver Todo   
                                    img.navbar_principal_group1-menuIcon--Active_principals-more_img(src="./img/icons/arrowDown.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_principals-more--Active.inactive
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Promociones
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Kindle
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Electronicos
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Moda
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Relojes
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Bolsas, Maletas y Accesorios de Viaje
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div VideoJuegos
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Libros
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Peliculas, Series de TV y Musica 
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Hogas, Cocina y Jardín
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Herramientas y Mejoras del Hogar
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_Principals-more--Active_minus
                                        div Ver Menos
                                        img(src="./img/icons/upArrowClose.png", alt="")
                            .navbar_principal_group1-menuIcon--Active_programs 
                                .title 
                                    p Programas Y 
                                    p Características 
                                p Ofertas del Dia 
                                p Probar Prime 
                                p Prime Video 
                                p Vender en Amazon 
                                .navbar_principal_group1-menuIcon--Active_programs-more 
                                    p.navbar_principal_group1-menuIcon--Active_programs-more_p Ver Todo
                                    img.navbar_principal_group1-menuIcon--Active_programs-more_img(src="./img/icons/arrowDown.png", alt="")
                                .navbar_principal_group1-menuIcon--Active_programs-more--Active.inactive
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Ofertas del Día
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Probar Prime
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Prime Video
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_section
                                        div Vender en Amazon
                                        img(src="./img/icons/right-arrow.png", alt="")
                                    .navbar_principal_group1-menuIcon--Active_programs-more--Active_minus
                                        div Ver Menos
                                        img(src="./img/icons/upArrowClose.png", alt="")
                        .navbar_principal_group1-Logo 
                            img(src="./img/logo.png", alt="")
                            span .com.mx
                    .navbar_principal_group2
                        .navbar_principal_group2-account 
                            img(src="./img/icons/menuUsrWhite.png", alt="")
                        .navbar_principal_group2-shoppingCart 
                            .navbar_principal_group2-shoppingCart--numberProducts 0
                            img(src="./img/icons/cartWhite.png", alt="")
                .navbar_search 
                    .navbar_search-input 
                        input(type="text" placeholder="Buscar Amazon.com.mx")
                        .navbar_search-input--img
                            img(src="./img/icons/search.png", alt="Search")
                .navbar_moreSections  
                    div 
                        a Tarjetas de Regalo 
                    div 
                        a Promociones 
                    div 
                        a AmazonBasics
                    div 
                        a Comprar de nuevo 
                    div 
                        a Prime 
                    div 
                        a Los más vendidos
                    div 
                        a Buscar un Regalo 
                    div 
                        a Video 
                    div 
                        a Hogar y cocina
                    div 
                        a Libros 
                    div 
                        a Electrónicos 
                    div 
                        a Lo nuevo 
                    div 
                        a Cómputo y Tabletas
                .navbar_address
                    span 
                        img(src="./img/icons/locationWhite.png", alt="")
                    p.navbar_address_selectLocation Enviar a #{User} - #{Location} #{postalCode}
        
        footer 
            .footer  
                a(href="#").footer_start 
                    img(src="./img/icons/upArrowWhite.png", alt="")
                    p INICIO DE PÁGINA
                .footer_seccions 
                    div Amazon de #{User}
                    div Mi cuenta 
                    div Wish List 
                    div Mis artículos vistos recientemente
                    div Devoluciones 
                    div Contáctanos 
                    div Mis Pedidos 
                    div Tu Planea y Ahorra
                    div Mesa de Regalos 
                    div Vender en Amazon 
                    div Configuracion 1-Clic
                    div Ayuda
                .footer_logOut 
                     .footer_logOut-Out 
                        p Cambiar de Cuenta 
                        p Salir
                     .footer_logOut-copyRight
                        p Condiciones de Uso 
                        p Aviso de Privacidad 
                        p Valoración
                        p (c) 1996-2023 Amazon.com, Inc. o sus afiliados
    script(src="./main.js") 


